In [ ]:
import pandas as pd
import random
from datetime import timedelta, datetime

# Set the number of rows in the data frame
num_rows = 100

# Generate random dates within a one-month range
start_date = datetime.now() - timedelta(days=30)
end_date = datetime.now()

dates = [
    (start_date + timedelta(days=random.randint(0, 30),
                            hours=random.randint(0, 23),
                            minutes=random.randint(0, 59),
                            seconds=random.randint(0, 59))).strftime("%m-%d-%y %H-%M-%S")
    for _ in range(num_rows)
]

# Generate random sample IDs between 1 and 100
sample_ids = [random.randint(1, 100) for _ in range(num_rows)]

# Generate random states between 1 and 10
states = [random.randint(1, 10) for _ in range(num_rows)]

# Create the data frame
data = {"datetime": dates, "sample_id": sample_ids, "state": states}
df = pd.DataFrame(data)

# Print the data frame
print(df)

             datetime  sample_id  state
0   05-31-23 17-41-19         57      3
1   06-11-23 08-20-52         94      3
2   05-30-23 10-40-37         67      3
3   05-31-23 07-40-01         74      3
4   05-24-23 13-35-37         54      2
..                ...        ...    ...
95  06-13-23 17-52-03         24      7
96  05-24-23 15-22-59         91      9
97  06-12-23 18-37-21         80      8
98  06-15-23 09-53-53         78     10
99  05-29-23 00-12-13         57      5

[100 rows x 3 columns]

In [ ]:
# Import library
from d3blocks import D3Blocks

# Initialize
d3 = D3Blocks()

# Import example
df = d3.import_example(data='random_time', n=10000, c=500, date_start="01-01-2000 00:10:05", date_stop="01-02-2000 23:59:59")

[d3blocks] >INFO> Cleaning edge_properties and config parameters..
c:\Users\davin\anaconda3\envs\d3\lib\site-packages\d3blocks\movingbubbles\Movingbubbles.py:576: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['datetime'] = pd.to_datetime(df['datetime'])

In [4]:
df.head()

             datetime sample_id     state
0 2000-01-01 00:10:42       442     Sport
1 2000-01-01 00:10:51       351  Sleeping
2 2000-01-01 00:11:42       449     Bored
3 2000-01-01 01:22:34       377  Sleeping
4 2000-01-01 01:32:01       361      Sick